<h1>All Players</h1>
<hr>

<%
last_team = 0
@players.each do |player|
	if player.team.id != last_team
		if last_team != 0
			%>
			</ul>
			<%
		end
		last_team = player.team.id
		%>
			<h2><a class="teamname" href="/teams/<%= player.team.id %>">Atlanta <%= player.team.team_name + ' ' + player.team.sport %> Team</a></h2>
			<ul class='allplayers'>
		<%
	end
	%>
	<div class='dudes'>
		<li>
			<img class="profile" src="<%= player.pic_url %>"> <br><a class='namebox' href="/players/<%= player.id %>"><%= player.name %></a>
		</li>
		</div>
	<%
end
%>
</ul>
<div class="addbutton">
<button><a href="/players/add">Add Player</a></button>
</div>
